<!doctype html>
<html ng-app>
  <head>
  	<link rel="stylesheet" type="text/css" href="../templates/css/footer.css"></link>
    <script type="text/javascript" src="../libs/angular.min.js"></script>
    <script type="text/javascript" src="../libs/ui-bootstrap-tpls-0.10.0.js"></script>
  </head>
  <body>
	  <footer>
		<div class='footer_container' ng-view>
				<div class='footer_links'>
					<div class=footer_content>
						<a href="#" class="footer_item" target="_blank">Schoolsi</a>
						<a href=#" class="footer_item" target="_blank">Blog</a>
						<a href="#" class="footer_item" target="_blank">Contact Us</a>
						<a href="#" class="footer_item" title="Support" target="_blank">Support</a>
					</div>
					<div class="social_links">
						<img class="footer_item" src="../templates/images/facebook.png"/>
						<img class="footer_item" src="../templates/images/twitter.png"/>
						<img class="footer_item" src="../templates/images/linkedin.png"/>
					</div>
				</div>
		</div>		
	  </footer>
  </body>
</html>